body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background-color: #9fd3c7;
    width: 100%;
    height: 100%;
    padding: 210px;
    text-align: center;
    background-size: contain;
    image-resolution: snap;
}
.judul{
    font-family: Bebas Neue;
    font-weight: 500;
    font-size: 50px;
    color: black;
}   
.sub-judul{
    font-family: Calibri;
    font-size: 30px;
    color: black;
    text-align: center;
}
.section2{
    padding:100px 0px;
    background: #ececec;
}
.col-kiri{
    text-align: center;
}
.col-kanan{ 
    text-align: center;
}
.section3{
    min-height: 100px;
    padding: 50px 0px;
    background: #9fd3c7;
    font-family: Bebas Neue;
    font-size: 30px;
}
.link{
    padding: 10px 15px;
    color: black;
}
.link:hover{
    background:#929aab;
}
.col{
    text-align: center;
}