body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background: url(../img/maxresdefault.jpg);
    width: 100%;
    height: 100%;
    padding:0 auto;
    text-align: center;
}
.judul{
    font-family: Bebas Neue;
    font-weight: 500;
    font-size: 50px;
    color: black;
}   
.sub-judul{
    font-family: Calibri;
    font-size: 30px;
    color: black;
    text-align: center;
}
.section2{
    padding:100px 0px;
    background: #393e46;
}
.col-kiri{
    background: #929aab;
    text-align: center;
}
.col-kanan{
    background: #f7f7f7; 
    text-align: center
}