body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background-image: url(../img/Background%20Section%201.jpg);
    background-size: cover;
    padding: 115px;
    text-align: right;
}
.judul-section-1{
    font-family: Century Gothic;
    font-size: 60px;
    color: #0C0911;
    text-align: right;
}   
.section2{
    padding:100px 0px;
    background: #FEFEFE;
}
.judul-section-2{
    font-family: Century Gothic;
    font-size: 50px;
    color: #EDAE00;
    text-align: left;
}   
.sub-judul-section-2{
    font-family: TW Cen MT;
    font-size: 25px;
    color: #0C0911;
    text-align: left;
}
.col-kiri-section-2{
    text-align: center;
}
.col-kanan-section-2{ 
    text-align: center;
}
.section3{
    padding: 100px 0px;
    background: #0C0911;
}
.judul-section-3{
    font-family: Century Gothic;
    font-size: 50px;
    color: #EDAE00;
    text-align: left;
}
.sub-judul-section-3{
    font-family: TW Cen MT;
    font-size: 25px;
    color: #FEFEFE;
    text-align: left;
}
.section4{
    padding: 50px 50px;
    background-color: #EDAE00;
}
.judul-section-4{
    font-family: Century Gothic;
    font-size: 50px;
    color: #0C0911;
    text-align: left;
}
.link{
    padding: 10px 15px;
    color: black;
}
.link:hover{
    background:#EDAE00;
}
